* {
  box-sizing: border-box;
}

html,
body {
  font: 2.5vmin/150% "consolas", "iosevka", "monaco", monospace;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: #ff0087;
}

main {
  max-width: 32rem;
  margin: 0 auto;
}

.image {
  outline: 2px solid #ff0087;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.container {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.container > div {
  display: table-cell;
  width: 100%;
}

button,
a {
  outline: 2px solid #ff0087;
  outline-offset: -1vmin;
  background: black;
  color: #ff0087;
  border: 0;
  width: 100%;
  font-size: inherit;
  padding: 6vmin 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  transition: outline-offset 0.2s, background-color 0.2s;
}

button:hover,
a:hover {
  background-color: #1a000e;
  outline-offset: 0;
  z-index: 10;
  transition-delay: 0.2s;
}

